<h1>Hi {{ currentUser.firstName | uppercase }}!</h1>
<h3>All registered users:</h3>
<ul>
  <li *ngFor="let user of users">
    {{ user.username }} ({{ user.firstName }} {{ user.lastName }}) &nbsp;
    <a
      *ngIf="currentUser && currentUser.id === user.id"
      (click)="editUser(user.id)"
      class="text-primary"
      >Edit</a
    >
    <a
      *ngIf="currentUser && currentUser.id !== user.id"
      (click)="open(content,user.id)"
      class="text-danger"
      >Delete</a
    >
    Time : <span>{{ user.createdDate | date: "yyyy-MM-dd" }}</span>
  </li>
</ul>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this?</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="d('Cross click')"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="c('yes')">
      Yes
    </button>
  </div>
</ng-template>
<p><a [routerLink]="['/login']">Logout</a></p>
